<main>
    <div class="footer">
        <div class="redes-sociais">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>

        <h4>2024 BookStore. Todos os direitos reservados</h4>

    </div>
</main>