<main>
    <div class="chat-container">
        <div id="messages"></div>
        <form id="form" action="">
            <input id="input" autocomplete="off" placeholder="Digite sua mensagem aqui..." />
            <button>Enviar</button>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/public/scripts/carrossel_destaque.js"></script>
</main>