<!-- Menu Principal -->
<main>

    <div class="sobre-empresa">


        <div class="historia-empresa">
            <div class="titulo-sobre">
                <img src="/imagens/ornamentais_cima.svg" class="ornamentais">
                <h1>A empresa</h1>
                <img src="/imagens/ornamentais_baixo.svg" class="ornamentais">

            </div>
            <p>Na Book Store, acreditamos no poder transformador dos livros. Nossa missão é promover a cultura e
                o conhecimento através da troca e venda de livros, proporcionando uma experiência única e acessível para
                todos os amantes da leitura. Estamos empenhados em criar um espaço onde livros possam encontrar novos
                leitores e histórias possam continuar a ser contadas.<br><br>

                Nossa plataforma foi desenvolvida para facilitar o acesso a uma ampla variedade de livros, atendendo a
                todas as idades e interesses. Acreditamos que os livros são pontes que conectam pessoas e ideias, e
                queremos ser o elo que torna essa conexão possível. Trabalhamos incansavelmente para tornar nossa
                plataforma intuitiva e segura, garantindo uma experiência agradável e satisfatória para todos os nossos
                usuários.
            </p>
        </div>

        <div class="cultura-empresa">
            <div class="textos-infor">

                <h2>RESPEITO E TRANSPARÊNCIA</h2>

                <p>
                    Acreditamos que a base de qualquer relacionamento duradouro é construída com respeito e
                    transparência. Na Books Store, nos comprometemos a tratar todos os nossos clientes e parceiros
                    com dignidade e consideração. Prezamos pela clareza em todas as nossas transações e garantimos que
                    todas as informações fornecidas sejam verdadeiras e confiáveis.

                    <br><br>

                    Nossa política de transparência se reflete em todas as etapas do nosso processo. Desde a descrição
                    dos livros disponíveis até o processo de negociação e pagamento, todas as informações são
                    apresentadas de forma clara e detalhada. Isso inclui a condição dos livros, preços justos e
                    eventuais taxas de serviço. Nosso objetivo é eliminar surpresas desagradáveis e construir uma
                    relação de confiança com nossos usuários.

                    <br><br>

                    Além disso, valorizamos o feedback de nossos clientes e estamos sempre abertos a sugestões e
                    críticas construtivas. Acreditamos que ouvir nossos usuários é essencial para o nosso crescimento e
                    para a melhoria contínua de nossos serviços. Nosso compromisso é ser um modelo de honestidade e
                    integridade no mercado de livros, estabelecendo um padrão elevado para a indústria.

                </p>
            </div>

            <img src="/imagens/homem-lendo.jpg" alt="">

        </div>


        <!--
        <div class="imagem-fix">
        -->

    </div>

    <div class="historia-empresa">

        <div class="titulo-sobre">
            <img src="/imagens/ornamentais_cima.svg" class="ornamentais">
            <h1>Quem Somos</h1>
            <img src="/imagens/ornamentais_baixo.svg" class="ornamentais">

        </div>

        <p>BookStore nasceu da paixão de um grupo de amigos por livros e pelo desejo de compartilhar essa paixão
            com o mundo. Combinando anos de experiência no mercado editorial e em tecnologia, criamos uma plataforma
            inovadora onde os leitores podem trocar e vender livros de forma fácil e segura.

            <br><br>

            Desde o início, nossa visão foi criar um espaço onde livros pudessem ter uma segunda vida, encontrando novos
            leitores e evitando o desperdício. Com essa visão em mente, desenvolvemos uma plataforma que não apenas
            facilita a troca e venda de livros, mas também promove a sustentabilidade e a reutilização de recursos.
            Acreditamos que cada livro tem uma história para contar e que merece ser lido e apreciado por muitas pessoas
            ao longo de sua existência.
            <br><br>

            Somos uma equipe dedicada de profissionais, composta por especialistas em literatura, tecnologia e
            atendimento ao cliente. Nosso objetivo é fornecer um serviço de alta qualidade, que não só satisfaça, mas
            exceda as expectativas dos nossos usuários. Trabalhamos diariamente para enriquecer a experiência de nossos
            clientes, oferecendo um acervo diversificado e oportunidades de troca e venda justas e vantajosas.
            <br><br>

            Nossa equipe é apaixonada por livros e comprometida em promover a leitura como uma prática enriquecedora e
            transformadora. Acreditamos que o acesso à literatura deve ser fácil e acessível para todos, e estamos
            sempre buscando maneiras de melhorar e expandir nossos serviços para atender às necessidades dos nossos
            usuários.
            <br><br>

            Nosso Compromisso
            Estamos comprometidos em promover a sustentabilidade através da reutilização de livros, contribuindo para a
            preservação do meio ambiente. Em [Nome da Empresa], acreditamos que cada livro tem uma história para contar
            e um novo lar para encontrar. Nosso compromisso com a sustentabilidade se reflete em todas as nossas
            operações, desde a escolha de parceiros e fornecedores até as práticas de envio e embalagem.

            Acreditamos que pequenos gestos podem ter um grande impacto, e estamos determinados a fazer a nossa parte
            para proteger o planeta. Junte-se a nós nessa jornada e descubra um mundo de possibilidades literárias. Em
            [Nome da Empresa], conectamos leitores, promovemos cultura e trabalhamos juntos por um futuro mais
            sustentável e consciente.
        </p>
    </div>

    <div class="equipe">

        <div class="titulo-sobre">
            <img src="/imagens/ornamentais_cima.svg" class="ornamentais">
            <h1>Nossa equipe</h1>
            <img src="/imagens/ornamentais_baixo.svg" class="ornamentais">

        </div>

        <div class="container-equipe">
            <div class="equipe-imagem">
                <img src="/imagens/alex.jpg" alt="">
            </div>

            <div class="equipe-imagem">
                <img src="/imagens/george.jpg" alt="">
            </div>

            <div class="equipe-imagem">
                <img src="/imagens/vivi.jpg" alt="">
            </div>

            <div class="equipe-imagem">
                <img src="/imagens/ernandson.jpg" alt="">
            </div>
        </div>
    </div>
    </div>

</main>